<div class="close-dialog-container">
  <button mat-icon-button [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>


<form class="full-width" [formGroup]="opponentForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="full-width">
    <input matInput placeholder="CFN" formControlName="cfn">
    <mat-error *ngIf="opponentForm.get('cfn').getError('required')">CFN is required</mat-error>
    <mat-error *ngIf="opponentForm.get('cfn').getError('maxlength')">CFN must be less or equal than 25 chars</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Name" formControlName="name">
    <mat-error *ngIf="opponentForm.get('name').getError('required')">Name is required</mat-error>
    <mat-error *ngIf="opponentForm.get('name').getError('maxlength')">Name must be less or equal than 30 chars</mat-error>
  </mat-form-field>

  <section class="full-width select-character-container">
    <mat-form-field>
      <mat-select placeholder="Character" formControlName="character" (selectionChange)="onSelectCharacter($event)">
        <mat-option *ngFor="let character of characters" [value]="character.id">
          <div class="character-option">
            <img src="{{character.image}}" alt="Character {{character.name}}"> 
            <span>{{character.name}}</span>
          </div>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="opponentForm.get('character').invalid">Please select a character</mat-error>
    </mat-form-field>
    <div *ngIf="characterSelected" class="character-option">
      <img src="{{characterSelected.image}}" alt="Character {{characterSelected.name}}"> 
    </div>
  </section>

  <mat-form-field *ngIf="!opponent" class="full-width">
    <textarea matInput placeholder="Note" rows="3" formControlName="note"></textarea>
    <mat-error *ngIf="opponentForm.get('note').invalid">Note must be less or equal than 80 chars</mat-error>
  </mat-form-field>

  <section class="form-actions">
    <button type="submit" mat-raised-button color="primary">{{(opponent) ? 'SAVE' : 'ADD OPPONENT'}}</button>
  </section>
</form>
