<div class="close-dialog-container">
  <button mat-icon-button [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>


<form class="full-width" [formGroup]="opponentForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="full-width">
    <input matInput placeholder="CFN" formControlName="cfn" appAutofocus>
    <mat-error *ngIf="opponentForm.get('cfn').getError('required')">{{ 'cfnError' | translate }}</mat-error>
    <mat-error *ngIf="opponentForm.get('cfn').getError('maxlength')">{{ 'cfnErrorChars' | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="{{ 'name' | translate }}" formControlName="name">
    <mat-error *ngIf="opponentForm.get('name').getError('required')">{{ 'nameError' | translate }}</mat-error>
    <mat-error *ngIf="opponentForm.get('name').getError('maxlength')">{{ 'nameErrorChars' | translate }}</mat-error>
  </mat-form-field>

  <section class="full-width select-character-container">
    <mat-form-field>
      <mat-select placeholder="{{ 'character' | translate }}" formControlName="character"
        (selectionChange)="onSelectCharacter($event)">
        <mat-option *ngFor="let character of characters | orderAz" [value]="character.id">
          <div class="character-option">
            <picture>
              <source type="image/webp" srcset="{{character.imageWebp}}">
              <source type="image/jpeg" srcset="{{character.image}}">
              <img src="{{character.image}}" alt="Character {{character.name}}">
            </picture>
            <span>{{character.name}}</span>
          </div>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="opponentForm.get('character').invalid">{{ 'selectCharacter' | translate }}</mat-error>
    </mat-form-field>
    <div *ngIf="characterSelected" class="character-option">
      <picture>
        <source type="image/webp" srcset="{{characterSelected.imageWebp}}">
        <source type="image/jpeg" srcset="{{characterSelected.image}}">
        <img src="{{characterSelected.image}}" alt="Character {{characterSelected.name}}">
      </picture>
    </div>
  </section>

  <mat-form-field *ngIf="!opponent" class="full-width">
    <textarea matInput placeholder="{{ 'note' | translate }}" rows="3" formControlName="note"></textarea>
    <mat-error *ngIf="opponentForm.get('note').invalid">{{ 'noteErrorChars' | translate }}</mat-error>
  </mat-form-field>

  <section class="form-actions">
    <button type="submit" mat-raised-button
      color="primary">{{(opponent) ? ('save' | translate) : ('addOpponent' | translate) }}</button>
  </section>
</form>
