<div class="close-dialog-container">
  <button mat-icon-button [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>


<form class="full-width" [formGroup]="opponentForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="full-width">
    <input matInput placeholder="CFN" formControlName="cfn" appAutofocus>
    <mat-error *ngIf="opponentForm.get('cfn').getError('required')">{{ 'cfnError' | translate }}</mat-error>
    <mat-error *ngIf="opponentForm.get('cfn').getError('maxlength')">{{ 'cfnErrorChars' | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="{{ 'name' | translate }}" formControlName="name">
    <mat-error *ngIf="opponentForm.get('name').getError('required')">{{ 'nameError' | translate }}</mat-error>
    <mat-error *ngIf="opponentForm.get('name').getError('maxlength')">{{ 'nameErrorChars' | translate }}</mat-error>
  </mat-form-field>

  <app-characters-list [defaultCharacter]="characterSelected"
                       (selectCharacter)="onSelectCharacter($event)"></app-characters-list>

  <mat-form-field *ngIf="!opponent" class="full-width">
    <textarea matInput placeholder="{{ 'note' | translate }}" rows="3" formControlName="note"></textarea>
    <mat-error *ngIf="opponentForm.get('note').invalid">{{ 'noteErrorChars' | translate }}</mat-error>
  </mat-form-field>

  <section class="form-actions">
    <button type="submit" mat-raised-button
      color="primary">{{(opponent) ? ('save' | translate) : ('addOpponent' | translate) }}</button>
  </section>
</form>
