/* Custom Input - Main Input */
.form-input {
  position: relative;
  height: 42px;
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
  border: 1px solid #97999B;
  border-radius: 8px;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 5px #e0e0e0;
}

.form-input-with-icon {
  position: relative;
  width: 100%;
}

.form-input-with-icon mat-icon {
  position: absolute;
  right: 6px;
  top: 8px;
  color: var(--fg-notes-accent);
}
