<main *ngIf="dbLoaded">
  <mat-toolbar>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <section class="search-bar-container">
      <app-search-bar></app-search-bar>
    </section>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav">
      <div class="sidenav-content-container">
        <mat-nav-list>
          <mat-list-item>
            <button mat-icon-button color="primary" (click)="showSettings()">
              {{ 'settings' | translate }} <mat-icon>settings</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
        <div class="logo-container">
          <!-- Image background -->
        </div>
        <section class="footer">
          <div>
            Donate
            <a href="https://www.paypal.me/davidrnr" target="_blank" mat-icon-button>
              <i class="fab fa-paypal" role="button"></i>
            </a>
          </div>
          <div class="contact">
              <div>
                  Created by David Martín
                </div>
              <a href="https://www.twitter.com/davidmrnr" target="_blank" mat-icon-button>
                <i class="fab fa-twitter"></i>
              </a>
              <a href="mail:carlosdavidmartin@gmail.com" target="_blank" mat-icon-button>
                <i class="far fa-envelope"></i>
              </a>
          </div>
        </section>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
