main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar {
  justify-content: space-between;
  background: var(--fg-notes-primary);
}

.search-bar-container {
  width: 30%;
}

.sidenav {
  width: 30vw;
}

.sidenav-content-container {
  font-size: 1rem;
  padding: 0.8em;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

.logo-container img {
  width: 80%;
}

.sidenav-container {
  height: 100%;
}

.sidenav-container mat-sidenav-content {
  padding: 0.5em;
}

.sidenav-content-container mat-nav-list {
  max-width: 10rem;
  align-self: flex-end;
}

.sidenav-content-container mat-nav-list,
.sidenav-content-container mat-nav-list mat-list-item button {
  width: 100%;
}

/* FOOTER */
.footer {
  font-size: 1.2rem;
}

.footer i {
  font-size: 1.5rem;
}

.footer .donate a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .donate a i {
  margin-left: 0.5em;
}

.footer .donate a span {
  font-weight: bold;
}

.footer .version {
  font-size: 0.6rem;
}

@media (max-width: 1279px) {
  .search-bar-container {
    width: 60%;
  }

}

@media (max-width: 1023px) {
  .sidenav {
    width: 70vw;
  }

  .sidenav-content-container {
    font-size: 1.8rem;
  }

  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {

  .sidenav-content-container mat-nav-list {
    align-self: center;
  }

  .search-bar-container {
    width: 90%;
  }

  .footer {
    font-size: 0.8rem;
    width: 100%;
  }

}
