<main *ngIf="dbLoaded">
  <mat-toolbar>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <section class="search-bar-container">
      <app-search-bar></app-search-bar>
    </section>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav">
      <div class="sidenav-content-container">
        <section class="sidenav-list">
          <a routerLink="/notes" routerLinkActive="active">
            <mat-icon>notes</mat-icon> Notes
          </a>

          <a routerLink="/frame-data" routerLinkActive="active">
            <mat-icon>bar_chart</mat-icon> Frame Data
          </a>

          <a (click)="showSettings()">
            <mat-icon>settings</mat-icon> {{ 'settings' | translate }}
          </a>
        </section>
        <div class="logo-container">
          <picture>
            <source type="image/webp" srcset="./assets/fg-notes-logo.webp">
            <source type="image/png" srcset="./assets/fg-notes-logo.png">
            <img src="./assets/fg-notes-logo.png" alt="FG-Notes Logo">
          </picture>
        </div>
        <section class="footer">
          <div class="donate">
            Donate
            <a href="https://www.paypal.me/davidrnr" target="_blank" mat-icon-button rel="noopener">
              <i class="fab fa-paypal" role="button"></i>
            </a>
          </div>
          <div class="contact">
            <div>
              Created by David Martín
            </div>
            <a href="https://www.twitter.com/davidmrnr" target="_blank" mat-icon-button rel="noopener">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="mail:carlosdavidmartin@gmail.com" target="_blank" mat-icon-button rel="noopener">
              <i class="far fa-envelope"></i>
            </a>
          </div>
          <div class="version">Ver {{version}}</div>
        </section>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
