<div class="cards-container">
  <mat-card *ngFor="let opponent of opponentsFiltered | async | orderAz: 'cfn'">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <picture>
          <source type="image/webp" srcset="{{opponent.character.imageWebp}}">
          <source type="image/jpeg" srcset="{{opponent.character.image}}">
          <img src="{{opponent.character.image}}" alt="Character {{opponent.character.name}}">
        </picture>
      </div>
      <div class="card-header-text">
        <mat-card-title>{{opponent.name}}</mat-card-title>
        <mat-card-subtitle><strong>CFN:</strong>{{opponent.cfn}}</mat-card-subtitle>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opponent Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditOpponent(opponent)">
          <mat-icon color="accent">edit</mat-icon>
          <span>{{ 'edit' | translate }}</span>
        </button>
        <button mat-menu-item (click)="onDeleteOpponent(opponent)">
          <mat-icon color="warn">delete</mat-icon>
          <span>{{ 'delete' | translate }}</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let note of opponent.notes; index as i">
          {{note}}
          <button mat-icon-button color="accent" aria-label="Edit Note" (click)="onEditNote(opponent, note, i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Delete Note" (click)="onDeleteNote(opponent, i)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="onAddNote(opponent)">
        {{ 'addNote' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<section *ngIf="loading" class="no-opponents-container">
  <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="30" [diameter]="50">
  </mat-progress-spinner>
</section>
<section *ngIf="(opponentsFiltered | async)?.length === 0 && !loading" class="no-opponents-container">
  <h1>FGNotes</h1>
  <div class="logo-container">
    <picture>
      <source type="image/webp" srcset="./assets/fg-notes-logo.webp">
      <source type="image/png" srcset="./assets/fg-notes-logo.png">
      <img src="./assets/fg-notes-logo.png" alt="FG-Notes Logo">
    </picture>
  </div>
</section>

<section class="add-opponent-container">
  <div class="relative-container">
    <div class="helper circleIn" *ngIf="(opponentsFiltered | async)?.length === 0">
      <mat-icon color="accent">help_outline</mat-icon>
      <span>{{ 'clickHereTo' | translate }} <strong>{{ 'addAnOpponent' | translate }}!</strong></span>
    </div>
    <button [class.zoomInOut]="(opponentsFiltered | async)?.length === 0" mat-fab color="primary"
      aria-label="Add Opponent" (click)="onAddOpponent()">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
</section>
