.add-opponent-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.add-opponent-container .relative-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 180px;
}

.add-opponent-container .relative-container .helper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2em;
  word-break: break-word;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.add-opponent-container .relative-container .helper mat-icon {
  margin-right: 0.5em;
}

.add-opponent-container .relative-container button {
  align-self: flex-end;
}

.cards-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 2%;
  grid-row-gap: 2em;
  margin: 2em 0;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card .header-image {
  background-size: cover;
}

mat-card .card-header-text {
  flex: 1;
  word-break: break-word;
}

mat-card .card-header-text strong {
  margin-right: 0.5em;
}

mat-card-content {
  max-height: 190px;
  overflow: auto;
}

mat-list-item {
  word-break: break-word;
  margin: 1em 0;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-card-actions button {
  margin: 0 0.6em 0.6em 0.6em;
  font-size: 0.7rem;
}

.no-opponents-container {
  display: flex;
  -webkit-box-pack: center;
  flex-direction: column;
  align-items: center;
}

.no-opponents-container h1 {
  font-size: 4rem;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
}

.logo-container {
  background-image: url("../../assets/fg-notes-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

@media (max-width: 1279px) {
  .cards-container {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 100%;
    grid-column-gap: none;
  }

  .search-opponent-form {
    width: 100%;
  }

  mat-card-content {
    max-height: initial;
    overflow: none;
  }

  .add-opponent-container .relative-container {
    height: 148px;
  }

  .add-opponent-container .relative-container .helper {
    padding: 1em 0.5em;
    max-width: 255px;
  }

  .add-opponent-container .relative-container .helper mat-icon {
    margin-right: 0.2em;
  }

  .no-opponents-container h1 {
    font-size: 3rem;
  }
  
  .logo-container {
    width: 170px;
    height: 170px;
  }
}
