.add-opponent-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.search-opponent-form {
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color: #fafafa;
}

.cards-container {
  margin: 5em 0;
}

mat-card {
  margin: 1.5em 0;
}

mat-card .header-image {
  background-size: cover;
}

mat-card .card-header-text {
  flex: 1;
}

mat-card .card-header-text strong {
  margin-right: 0.5em;
}

mat-card-actions {
  display: flex;
  justify-content: flex-start;
}

mat-card-actions button {
  margin: 0  0.6em 0.6em 0.6em;
  font-size: 0.7rem;
}
