<div class="cards-container">
  <mat-card *ngFor="let opponent of opponentsFiltered | async">
    <mat-card-header>
      <div mat-card-avatar class="header-image" [style.backgroundImage]="'url('+ opponent.character.image +')'"></div>
      <div class="card-header-text">
        <mat-card-title>{{opponent.name}}</mat-card-title>
        <mat-card-subtitle><strong>CFN:</strong>{{opponent.cfn}}</mat-card-subtitle>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opponent Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditOpponent(opponent)">
          <mat-icon color="accent">edit</mat-icon>
          <span>{{ 'edit' | translate }}</span>
        </button>
        <button mat-menu-item (click)="onDeleteOpponent(opponent)">
          <mat-icon color="warn">delete</mat-icon>
          <span>{{ 'delete' | translate }}</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let note of opponent.notes; index as i">
          {{note}}
          <button mat-icon-button color="warn" aria-label="Delete Note" (click)="onDeleteNote(opponent, i)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button (click)="onAddNote(opponent)">
        {{ 'addNote' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<section *ngIf="loading" class="no-opponents-container">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="30" [diameter]="50">
      </mat-progress-spinner>
</section>
<section *ngIf="(opponentsFiltered | async)?.length === 0 && !loading" class="no-opponents-container">
    <h3>{{ 'pleaseAddOpponent' | translate }}</h3>
    <div class="logo-container">
      <!-- Image background -->
    </div>
</section>

<div class="add-opponent-container">
  <button mat-fab color="primary" aria-label="Add Opponent" (click)="onAddOpponent()">
    <mat-icon>person_add</mat-icon>
  </button>
</div>
